 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
 </head>
 <body>
    <form action="/courses/<%= course._id %>" method="POST">
    <input value="<%= course.courseName %>" disabled>
    <input name="duration" value="<%= course.duration %>">
    <input name="fee" value="<%= course.fee %>">
    <button>Update</button>
</form>
    
 </body>
 </html>